body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: orange;
}

#link-btn {
    background-image: linear-gradient(orange, tomato);
    color: #fff;
    padding: 10px 40px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

#link-btn:hover {
    background-image: linear-gradient(green, yellow)
}

.top-banner {
    display: flex;
    margin-bottom: 150px;
}

.header-style {
    width: 50%;
    padding-left: 5%;
}

.header-image {
    width: 50%;
    padding-left: 5%;

}

.header-image img {
    width: 80%;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}




.dream-img {
    width: 50%;
    margin-left: 5px;

}

.dream-img img {
    width: 80%;
}

.content-dream {
    width: 50%;
    margin-right: 5px;
}

.content-dream h1 {
    color: tomato;
    font-size: 2em;
    padding: 10px;
}

.content-dream h2 {
    color: rgb(219, 9, 226);
    font-size: 2em;
    padding: 10px;
}

.content-dream p {
    padding: 10px;
}

.drm-btn {
    font-weight: bold;
    color: #fff;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}

.drm-btn:hover {
    background-image: linear-gradient(green, yellow)
}